.related-posts-container {
  background-color: rgb(250, 250, 250);
  margin: 3rem 0 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.related-posts-container .heading {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.related-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  z-index: 2;
}

.post {
  display: flex;
  flex-flow: column wrap;
  margin: 2rem;
}

.post-tag {
  font-size: 1.2rem;
  color: rgb(163, 162, 162);
}

.post-image {
  max-width: 37rem;
}

@media screen and (max-width: 900px) {
  .related-posts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 2;
  }
}
