::selection {
  color: white;
  background-color: #f08080;
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: auto;
  width: fit-content;
  overflow-x: hidden;
}

.scroll-arrow {
  background-color: #f08080;
  transition: all 0.5s;
}

.scroll-arrow:hover {
  box-shadow: 0 0 10px 5px rgb(209, 207, 207);
}

@media screen and (max-width: 900px) {
  body {
    width: 100%
  }
}
